@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/work-sans-regular.woff2') format('woff2'),
        url('../fonts/work-sans-regular.woff') format('woff'),
        url('../fonts/work-sans-regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/work-sans-medium.woff2') format('woff2'),
        url('../fonts/work-sans-medium.woff') format('woff'),
        url('../fonts/work-sans-medium.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/work-sans-bold.woff2') format('woff2'),
        url('../fonts/work-sans-bold.woff') format('woff'),
        url('../fonts/work-sans-bold.ttf') format('truetype');
    font-display: swap;
}