$text-main: #181818;

$btn-yellow: #facc15;
$btn-yellow-hover: darken($btn-yellow, 5%);
$btn-blue: #0891b2;
$btn-blue-hover: darken($btn-blue, 5%);

$lg-width: 992px;
$md-width: 768px;
$sm-width: 576px;